*{
    margin:0;
    padding:0;
    box-sizing:  border-box;
}
.container{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    background: linear-gradient(#141e30,#243b55);
    border-bottom: 2px solid black;
}
.container a {
    position:relative;
    margin: 10px;
    padding: 30px;
    text-align: center;
    display:block;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    width:287px;
    overflow:hidden;
    border-radius: 40px;
}
.container a span{
    position:relative;
    color: #fff;
    font-size: 17px;
    font-family: Arial;
    letter-spacing: 8px;
    z-index: 1;
}
a .liquid{
    position: absolute;
    top:-80%;
    left: 0;
    width: 287px;
    height:230px;
    background: #4973ff;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5;
}
a .liquid::after,
a .liquid::before{
    content:'';
    width: 170%;
    height:250%;
    position:absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
}
a .liquid::before{
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite; 
}
a .liquid::after{
    border-radius: 45%;
    background:rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
}
a:hover .liquid{
    top: -120px;
}
@keyframes animate{
    0%{
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -75%) rotate(360deg);

    }
}
/* menu */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: linear-gradient(#141e30,#243b55);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav  button {
    position:relative;
    display:inline-block;
    /* padding: 10px 20px; */
    color:#03e9f4;
    
     /* color: #818181; */
  
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 4px;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }
  .sidenav button a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    display:flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 20px; */
  }
  .sidenav a button{
    margin-left: -50px;
    text-align: center;
  }
  
  .sidenav a:hover .sidenav a{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    color: #575757;
    /* height:; */
    
  }
 
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .type p{
    margin-top:-10px;
  }
  .avatar{ 
    width: 50px;
  }
  .infor{
    display: flex;
  }
button:hover .sidevav button a {
    color:#03e9f4;
  }
  #logout-btn{
    display:flex;
    align-items: center;
    gap: 10px;
  }


/* footer */
  footer{
    display:flex;
    margin:0;
    padding:0;
    min-height: 100vh;
    background:#181f2be8;
    justify-content: center;
    /* align-items: center; */
    font-family: arial;
    width:100%;
    
}

.center__display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .container-3 h1{
     
    } */


.container-3 .top{
    position: relative;
    border-bottom: 1px solid #eee;
}

.top .likes__count{
    position: absolute;
    top: 0;
    left: 0;
    background: #ffadad;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-bottom-right-radius: 20px;
    color: white;
}

.likes__count small{
    font-size: 20px;
    margin-left: 5px;
}

.top video{
    object-fit: fill;
}

.top form{
    display: grid;
    width: 100%;
    height: 80px;
    grid-template-columns: 5% 80% 15%;
    margin-top: 50px;
}

.form__info input{
    border: none;
    background: transparent;
    width: 70%;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    margin-bottom: 10px;
    outline: none;
}

.form__info input::placeholder{
    color: #ddd;
}

.top .heart__icon{
    color: #ffadad;
    font-size: 30px;
    cursor: pointer;
}

.top button{
    background-color: #4865e4;
    height: 50%;
    border: none;
    outline: none;
    color: white;
    transform: translateY(50%);
    margin-right: 10px;
    cursor: pointer;
}
.content{
    display:flex;
    justify-content: center;
    gap:50px;
}
.film-info-text{
    max-width: 500px;
    display:flex;
}
/* COMMENTS */
.comments__container-3{
    width: 100vh;
    margin-top: 2rem;
    overflow:scroll;
    background:#556a8fe8;
    max-height: 100vh;
    height:200px;
    border: 2px solid black;
}
.comments__container-3 h1{
    color: #fff;

}
.comment__card{
    width: 100vh;
    height: 80px;
    display: grid;
    grid-template-columns: 10% auto;
    margin: 0.5rem;
    border-bottom: 1px solid #eee;

}

.comment__card .pic{
    background: linear-gradient(#141e30,#243b55);
    border-radius: 50%;
    margin: 10%;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}

.comment__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment__info .nickname{
    color: #aaa;
}

.comment__info .comment{
    margin: 5px 0;
}

.comment__info .comment__bottom{
    display: flex;
}

.comment__bottom .heart__icon--comment{
    font-size: 20px;
    margin-right: 20px;
    color: #eee;
}

/* add with JS */
.heart__icon--comment .fas.positive{
    color: #ffadad;
}

.comment__bottom button{
    border: none;
    background: transparent;
    color: #aaa;
    text-transform: uppercase;
    cursor: pointer;
}

/* rating */
/* * {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} */
:root {
	--hue: 223;
	--white: hsl(var(--hue),10%,100%);
	--lt-gray: hsl(var(--hue),10%,95%);
	--gray1: hsl(var(--hue),10%,90%);
	--gray2: hsl(var(--hue),10%,80%);
	--gray7: hsl(var(--hue),10%,30%);
	--gray9: hsl(var(--hue),10%,10%);
	--primary: hsl(var(--hue),90%,55%);
	--trans-dur: 0.3s;
	font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}
.rating input {
	font: 1em/1.5 "DM Sans", sans-serif;
    margin-top: 100px;
    margin-left: -100px;
    
}
.rating {
	/* background-color: var(--white); */
	color: var(--gray9);
	/* height: 100vh; */
	display: grid;
	place-items: center;
	transition:
		background-color var(--trans-dur),
		color var(--trans-dur);
}

/* Main styles */
.fr {
	animation: fade-slide-in 0.6s ease-out;
	padding: 0 1.5em;
	max-width: 20em;
}
.fr__face {
	--face-hue1: 60;
	--face-hue2: 30;
	background-image:
		linear-gradient(
			135deg,
			hsl(var(--face-hue1),90%,55%),
			hsl(var(--face-hue2),90%,45%)
		);
	border-radius: 50%;
	box-shadow: 0 0.5em 0.75em hsla(var(--face-hue2),90%,55%,0.3);
	margin: 0 auto 2em;
	position: relative;
	width: 3em;
	height: 3em;
}
.fr__face-right-eye,
.fr__face-left-eye,
.fr__face-mouth-lower,
.fr__face-mouth-upper {
	position: absolute;
	transition:
		background-color var(--trans-dur),
		box-shadow var(--trans-dur),
		color var(--trans-dur);
}
.fr__face-right-eye,
.fr__face-left-eye {
	background-color: var(--white);
	border-radius: 50%;
	top: 0.75em;
	width: 0.6em;
	height: 0.6em;
}
.fr__face-right-eye {
	--delay-right: 0s;
	animation: right-eye 1s var(--delay-right) linear paused;
	clip-path: polygon(0 75%,100% 0,100% 100%,0 100%);
	left: 0.6em;
}
.fr__face-left-eye {
	--delay-left: 0s;
	animation: left-eye 1s var(--delay-left) linear paused;
	clip-path: polygon(0 0,100% 75%,100% 100%,0 100%);
	right: 0.6em;
}
.fr__face-mouth-lower,
.fr__face-mouth-upper {
	color: var(--white);
	top: 1.75em;
	left: 0.75em;
	width: 1.5em;
	height: 0.75em;
}
.fr__face-mouth-lower {
	--delay-mouth-lower: 0s;
	animation: mouth-lower 1s var(--delay-mouth-lower) linear paused;
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
	box-shadow: 0 0.125em 0 inset;
}
.fr__face-mouth-upper {
	--delay-mouth-upper: 0s;
	animation: mouth-upper 1s var(--delay-mouth-upper) linear paused;
	border-radius: 0 0 50% 50% / 0 0 100% 100%;
	box-shadow: 0 -0.125em 0 inset;
}
.fr__label {
	display: block;
	margin-bottom: 1.5em;
	text-align: center;
}
.fr__input {
	--input-hue: 60;
	--percent: 50%;
	background-color: var(--gray1);
	background-image: linear-gradient(hsl(var(--input-hue),90%,45%),hsl(var(--input-hue),90%,45%));
	background-size: var(--percent) 100%;
	background-repeat: no-repeat;
	border-radius: 0.25em;
	display: block;
	margin: 0.5em auto;
	width: 100%;
	max-width: 10em;
	height: 0.5em;
	transition: background-color var(--trans-dur);
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
}
.fr__input:focus {
	outline: transparent;
}

/* WebKit */
.fr__input::-webkit-slider-thumb {
	background-color: var(--white);
	border: 0;
	border-radius: 50%;
	box-shadow: 0 0.125em 0.5em hsl(0,0%,0%,0.3);
	width: 1.5em;
	height: 1.5em;
	transition: background-color 0.15s linear;
	-webkit-appearance: none;
	appearance: none;
}
.fr__input:focus::-webkit-slider-thumb,
.fr__input::-webkit-slider-thumb:hover {
	background-color: var(--lt-gray);
}

/* Firefox */
.fr__input::-moz-range-thumb {
	background-color: var(--white);
	border: 0;
	border-radius: 50%;
	box-shadow: 0 0.125em 0.5em hsl(0,0%,0%,0.3);
	width: 1.5em;
	height: 1.5em;
	transition: background-color 0.15s linear;
}
.fr__input:focus::-moz-range-thumb,
.fr__input::-moz-range-thumb:hover {
	background-color: var(--lt-gray);
}

/* `:focus-visible` support */
@supports selector(:focus-visible) {
	.fr__input:focus::-webkit-slider-thumb {
		background-color: var(--white);
	}
	.fr__input:focus-visible::-webkit-slider-thumb,
	.fr__input::-webkit-slider-thumb:hover {
		background-color: var(--lt-gray);
	}
	.fr__input:focus::-moz-range-thumb {
		background-color: var(--white);
	}
	.fr__input:focus-visible::-moz-range-thumb,
	.fr__input::-moz-range-thumb:hover {
		background-color: var(--lt-gray);
	}
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--gray9);
		color: var(--gray1);
	}
	.fr__face-right-eye,
	.fr__face-left-eye {
		background-color: var(--gray9);
	}
	.fr__face-mouth-lower,
	.fr__face-mouth-upper {
		color: var(--gray9);
	}
	.fr__input {
		background-color: var(--gray7);
	}
}

/* Animations */
@keyframes fade-slide-in {
	from,
	16.67% {
		opacity: 0;
		transform: translateY(25%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes right-eye {
	from { clip-path: polygon(0 75%,100% 0,100% 100%,0 100%); }
	50%, to { clip-path: polygon(0 0,100% 0,100% 100%,0 100%); }
}
@keyframes left-eye {
	from { clip-path: polygon(0 0,100% 75%,100% 100%,0 100%); }
	50%, to { clip-path: polygon(0 0,100% 0,100% 100%,0 100%); }
}
@keyframes mouth-lower {
	from {
		border-radius: 50% 50% 0 0 / 100% 100% 0 0;
		top: 1.75em;
		height: 0.75em;
		visibility: visible;
	}
	40% {
		border-radius: 50% 50% 0 0 / 100% 100% 0 0;
		top: 1.95em;
		height: 0.25em;
		visibility: visible;
	}
	50%,
	to {
		border-radius: 0;
		top: 2em;
		height: 0.125em;
		visibility: hidden;
	}
}
@keyframes mouth-upper {
	from,
	50% {
		border-radius: 0;
		box-shadow: 0 -0.125em 0 inset;
		top: 2em;
		height: 0.125em;
		visibility: hidden;
	}
	62.5% {
		border-radius: 0 0 50% 50% / 0 0 100% 100%;
		box-shadow: 0 -0.125em 0 inset;
		top: 1.95em;
		height: 0.25em;
		visibility: visible;
	}
	75% {
		border-radius: 0 0 50% 50% / 0 0 100% 100%;
		box-shadow: 0 -0.125em 0 inset;
		top: 1.825em;
		height: 0.5em;
		visibility: visible;
	}
	to {
		border-radius: 0 0 50% 50% / 0 0 100% 100%;
		box-shadow: 0 -0.8em 0 inset;
		top: 1.75em;
		height: 0.75em;
		visibility: visible;
	}
}